@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "flowbite-typography";

/* Trix Editor Styling */
.trix-content {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm;
    min-height: 200px;
}

.trix-button-group {
    @apply bg-white border-gray-300 rounded-t-lg;
}

.trix-button {
    @apply text-gray-700 hover:bg-gray-100;
}

.post-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.post-content figure {
    margin-bottom: 0;
}

.post-content figcaption {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    text-align: center;
}

.post-content figure img {
    display: block;
    margin-bottom: 0;
}

trix-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
}

trix-editor figcaption:empty {
    display: none;
}